.noimage {
  background-color: white;
  color: #666;
  font-weight: bold;
  height: 100%;
  width: 320px;
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
