:root {
  --margin-base: 10px;
  --margin-large: 15px;
  --margin-largest: 20px;
  --margin-small: 5px;
  --margin-smallest: 3px;
  --padding-base: 30px;
  --padding-large: 40px;
  --padding-largest: 50px;
  --padding-small: 20px;
  --padding-smallest: 10px;
  --desktop-width: 1440px;
  --mobile-width: 375px;
  --input-height-base: 50px;
  --input-width-base: 200px;
  --input-width-double: 400px;
  --radius-base: 4px;
}
