.drawer {
  backface-visibility: hidden;
  background: white;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  position: fixed;
  top: 0;
  transform: translate3d(100%, 0, 0);
  transition: transform 0.3s ease-out;
  width: 375px;
  right: 0;
  z-index: 20;
}

.drawer .app__container {
  width: 375px;
}

.drawer.drawer--is-visible {
  transform: translate3d(0, 0, 0);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.drawer__content {
  background: var(--background-color);
  height: 100vh;
  overflow-y: auto;
  padding-top: var(--padding-largest);
  margin-top: var(--margin-large);
  width: 100%;
}
