*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background: var(--background-color);
  font-family: "Roboto", sans-serif;
  font-size: var(--fontSize-largest);
}

a {
  -webkit-tap-highlight-color: transparent;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding: 0 var(--padding-base);
  @media only screen and (min-width: 1500px) {
    width: var(--desktop-width);
  }

  @media only screen and (max-width: 787px) {
    width: var(--mobile-width);
    padding: 0 var(--padding-small);
  }
}

.app {
  color: var(--text-color);
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  width: 100%;

  & strong {
    font-weight: 600;
  }
}

select,
button,
input {
  background-color: transparent;
  border: none;
  box-shadow: none;
  outline: none;
}

.app.app--is-drawer-visible {
  overflow-y: hidden;
  transition: opacity 225ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.app.app--is-drawer-visible:before {
  backface-visibility: visible;
  background: radial-gradient(
    ellipse at center,
    var(--background-color) 0,
    var(--elements-color) 100%
  );
  bottom: 0;
  content: "";
  height: 100vh;
  opacity: 0.75;
  pointer-events: all;
  position: fixed;
  right: 0;
  visibility: visible;
  width: 100vw;
  z-index: 15;
}
